body {
  background-color: var(--bg-primary);
  color: var(--fg-primary);
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
}

*:focus {
  outline: none;
}

h1 {
  letter-spacing: 0.2rem;
  margin-top: 25vh;
  margin-bottom: 6rem;
}

main {
  margin: 0;
  @include flexCenter(column);
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;

  &:visited {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease;
  }

  &:hover,
  &:focus {
    color: var(--highlight-primary);
  }

  &:active {
    color: var(--highlight-secondary);
  }
}

@media screen and (max-width: $narrow) {
  body {
    font-size: 0.9rem;
  }

  h1 {
    margin-top: 6rem;
  }
}
