#links {
  @include flexCenter(row, space-evenly);
  width: 100%;

  a {
    font-weight: 200;
    @include flexCenter();

    &:hover .link-icon,
    &:focus .link-icon {
      transform: translateY(-2px);
    }

    @media screen and (max-width: $narrow) {
      span {
        display: none;
      }
    }
  }

  .link-icon {
    height: 1.5rem;
    transition: transform 0.1s ease;
    margin: 0.5rem;
    transform: translateY(-1px);
  }

  .click-to-populate {
    cursor: pointer;
  }

  .address {
    max-width: 0;
    transition: max-width 1s ease;
  }
}
