#theme-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  transition: color 0.2s ease, transform 0.1s ease;

  #moon-icon {
    display: none;
  }

  &:hover,
  &:focus {
    color: var(--highlight-primary);
  }
  &:active {
    transform: scale(0.9);
  }
}

@keyframes hideWeightIncrease {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 0;
    font-weight: 400;
  }
  100% {
    opacity: 1;
    font-weight: 400;
  }
}

@keyframes hideWeightDecrease {
  0% {
    opacity: 1;
    font-weight: 400;
  }
  50% {
    opacity: 0;
    font-weight: 400;
  }
  55% {
    opacity: 0;
    font-weight: 300;
  }
  100% {
    opacity: 1;
    font-weight: 300;
  }
}

.theme-dark {
  #links,
  #links a,
  #activity-container,
  #activity-container h3 {
    animation: hideWeightDecrease 0.7s ease forwards;
  }

  #theme-button #moon-icon {
    display: none;
  }
}

.theme-light {
  #theme-button {
    #sun-icon {
      display: none;
    }
    #moon-icon {
      display: block;
    }
  }
  #links,
  #links a,
  #activity-container,
  #activity-container h3 {
    animation: hideWeightIncrease 0.7s ease forwards;
  }

  #activity-container {
    #recent-activity {
      .activity-item.has-detail {
        &:hover .activity-chevron,
        &:focus-within .activity-chevron {
          color: var(--highlight-primary);
          filter: drop-shadow(0 0 0.8px var(--fg-primary));
        }
      }
    }
  }
}
