:root {
  --bg-primary: #212125;
  --bg-secondary: #232327;
  --bg-highlight: #212328;
  --fg-primary: #f8eed9;
  --highlight-primary: #10e0fc;
  --highlight-secondary: #11829e;
  --detail-items: 1; /* default */
}

$narrow: 500px;
